.collection-head {
    margin: auto;
    background-color: aliceblue;
    width: 15%;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000000;
    text-align: center;
}

.collection-head:hover {
    background-color: rgb(206, 206, 206);
}

.collection-title {
    font-size: medium;
    font-weight: bold;
}

.collection-subtitle {
    font-size: small;
    width: 100%;
}

.button-container {
    position: relative;
}

.button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}