<div>
    <h1 id="userName">{{getName()}}</h1>
    <div id="userPortrait">{{getPortrait()}}</div>
</div>
<h1 class="head">Angebotene Fahrräder</h1>
<div *ngIf="showItemsLend()">
    <ul *ngFor="let marker of lendMarkers" class="collection">
        <div class="collection-head">
            <div class="collection-title">{{marker.bikename}}</div>
            <div class="collection-subtitle">{{marker.portrait}}</div>
        </div>
    </ul>
</div>
<h1 class="head">Ausgeliehene Fahrräder</h1>
<div *ngIf="showItemsRent()">
    <ul *ngFor="let marker of rentMarkers" class="collection">
        <div class="collection-head">
            <div class="collection-title">{{marker.bikename}}</div>
            <div class="collection-subtitle">{{marker.portrait}}</div>
        </div>
    </ul>
</div>