.general-input {
  text-align: center;
  display: grid;
}
.input {
  padding: 1rem;
}
h1 {
  text-align: center;
}
.b1 {
  background-color: '#fffff';
  padding: 7px;
  margin: 15px;
  border-radius: 5px;
  border: none;
}
