.login {
  margin: auto;
  background-color: aliceblue;
  width: 15%;
  padding: 20px 50px 50px 50px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #000000;
}

.general-input {
  text-align: center;
  display: grid;
}

.input {
  padding: 1rem;
}

h1 {
  text-align: center;
}

.b1 {
  background-color: '#fffff';
  padding: 7px;
  margin: 15px;
  border-radius: 5px;
  border: none;
}

.errorText {
  color: red;
  font-size: 0.8rem;
  display: none;
}