<form class="signup">
    <h1>Signup</h1>
    <div class="general-signup">
        <div class="input">
            <p id="name">Name</p>
            <input id="name_input" type="text" name="email" [(ngModel)]="name" (focusout)="changeName($event)">
        </div>
        <div class="input">
            <p id="portrait">Kurzbeschreibung</p>
            <textarea id="portrait_input" class="portrait" type="text" name="portrait" [(ngModel)]="portrait"
                (focusout)="changePortrait($event)"></textarea>
        </div>
        <div class="input">
            <p id="email">E-Mail-Adresse</p>
            <input id="email_input" type="text" name="email" [(ngModel)]="email" (focusout)="changeEmail($event)">
        </div>
        <div class="input">
            <p id="password">Passwort</p>
            <input id="password_input" type="password" name="password" [(ngModel)]="password"
                (focusout)="changePassword($event)">
        </div>
        <div id="errorText" class="errorText">Bitte füllen Sie alle Felder aus</div>
        <div class="input">
            <input type="submit" value="Signup" (click)="signup()">
        </div>
        <div class="text" routerLink="signup">
            <a href="/login">Sie haben bereits einen Account?</a>
        </div>
    </div>
</form>